{% extends 'SymfonyseCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="error-page">
        <div class="not-found">
            <span>Något blev fel</span>
        </div>
        <p>Något blev fel. Hjälp oss att fixa det! Skapa en <a href="https://github.com/symfonyse/symfony.se/issues">Issue på Github</a> eller gör
        en PR med en fix på en gång. </p>
        <p class="text-muted">Om du inte kan/vill hjälpa till så följ något av länkarna nedan</p>
        <a href="{{ path('homepage') }}">Start</a> <span class="divider">|</span> <a href="javascript:window.history.back();">Tillbaka</a>
    </div>
{% endblock %}
