{% extends 'SymfonyseCoreBundle::layout.html.twig' %}

{% block title_prefix %}{%trans%}common.error.403.title{%endtrans%}{% endblock %}


{% block content %}
    <h1>{%trans%}common.error.403.title{%endtrans%}</h1>
	<p>{%trans%}common.error.403.message{%endtrans%}</p>
    <pre>{{exception.message | trans}}</pre>
	<p><a href="javascript:window.history.back();">{%trans%}common.error.backlink{%endtrans%}</a></p>
{% endblock %}
