{% extends 'SymfonyseCoreBundle::layout.html.twig' %}

{% block content %}

    <div class="error-page">
        <div class="not-found">
            <span>Sidan hittades inte</span>
        </div>
        <p>Sidan kan inte hittas. Kanske har någon glömt att skapa den? Du kan skapa denna sida genom att göra en PR till
            oss på <a href="https://github.com/symfonyse/symfony.se">Github</a>.</p>
        <p class="text-muted">Om du inte kan/vill hjälpa till så följ något av länkarna nedan</p>
        <a href="{{ path('homepage') }}">Start</a> <span class="divider">|</span> <a href="javascript:window.history.back();">Tillbaka</a>
    </div>
{% endblock %}