/web/bundles/
/web/bower/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

app/var/sessions/*
app/var/build/logs/*
app/emailSpool/*