{% extends "SymfonyseVideoBundle::base.html.twig" %}

{% block title %}
Video — {{parent()}}
{% endblock %}

{% block content %}

    Detta är våra videor

    <ul>
    {% for video in videos %}
        <li>
        <a href="{{ path('video', {permalink:video.permalink}) }}">{{ video.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
