{% extends "SymfonyseContentBundle::base.html.twig" %}

{% block contentHeadWrap %}{% endblock %}

{% block contentWrap %}

    <div class="home-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="first-child animated slideInDown delay-2">Powerful Responsive Theme For Business and Personal Projects</h1>
                    <h3 class="animated slideInDown delay-3">Beautiful Theme That Works Out Of The Box</h3>
                    <p class="text-muted animated slideInLeft delay-4">Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque diam sed pulvinar lobortis. <a href="#" id="tooltip" data-toggle="tooltip" data-placement="top" title="Quisque pellentesque diam.">Vestibulum ante ipsum</a> primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ render_esi(path('event_next')) }}
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <!-- Services -->
    <div class="home-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <ul>
                        <li>
                            <i class="fa fa-gears"></i>
                            <p>Dela kunskap <span>med andra</span></p>
                        </li>
                        <li>
                            <i class="fa fa-flag"></i>
                            <p>Öka intresset <span>för Symfony</span></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p><span>Få ett större</span> kontaktnät</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead">Svenska Symfony-utvcklare</p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .services -->

    <!-- Recent Blog Posts -->
    {{ render_esi(controller('SymfonyseBlogBundle:Blog:entriesForHomepage')) }}


    <!-- Main Services -->
    <div class="main-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Här håller vi till</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="fa fa-gear"></i>
                            <div class="service-desc">
                                <h4>Twitter</h4>
                                <p><a href="http://twitter.com/symfonyse">@symfonyse</a><br>
                                    <a href="http://twitter.com/#!/search/realtime/%23symfonyse">#symfonyse</a></p>
                            </div>
                        </div>
                    </div> <!-- / .services -->
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="fa fa-arrows-alt"></i>
                            <div class="service-desc">
                                <h4>GitHub</h4>
                                <p><a href="https://github.com/symfonyse">https://github.com/symfonyse</a></p>
                            </div>
                        </div>
                    </div> <!-- / .services -->
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="fa fa-refresh"></i>
                            <div class="service-desc">
                                <h4>Google Groups</h4>
                                <p><a href="https://groups.google.com/group/symfony-se">https://groups.google.com/group/symfony-se</a></p>
                            </div>
                        </div>
                    </div> <!-- / .services -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="fa fa-plus"></i>
                            <div class="service-desc">
                                <h4>IRC</h4>
                                <p> #symfony-se på <a href="http://www.freenode.net/">Freenode</a></p>
                            </div>
                        </div>
                    </div> <!-- / .services -->
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="fa fa-envelope"></i>
                            <div class="service-desc">
                                <h4>Andra länder</h4>
                                <p><a href="http://symfony.am/">Symfony Armenien</a> och <a href="http://symfony.es/">Symfony Spanien</a></p>
                            </div>
                        </div>
                    </div> <!-- / .services -->
                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .main-features -->

{% endblock %}