imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: version.yml }

framework:
    esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
        assets_base_urls:
          http: [http://%site_domain%]
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:
      save_path: %kernel.root_dir%/var/sessions
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
      site_url: http://%site_domain%
      ga_analytics: UA-26746572-1

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ SymfonyseCoreBundle ]
    variables:
        version: [%git_commit%]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        less:
          apply_to: "\.less$"
          node_paths: ['%kernel.root_dir%/../node_modules']
          #bin: %kernel.root_dir%/Resources/node_modules/.bin/lessc
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

