parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~


    locale:            sv
    secret:            ChangedForSensioLabsInsight
    site_domain:       localhost
    site_schema:       http
    meetup_api_key:    ChangeMe