{% extends "SymfonyseBlogBundle::base.html.twig" %}

{% block title %}
Blogg — {{parent()}}
{% endblock %}

{% block content %}

    Detta är våra blogginlägg

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ path('blog', {permalink:entry.permalink}) }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
