{% extends "SymfonyseBlogBundle::base.html.twig" %}

{% block title %}
Blogg — {{parent()}}
{% endblock %}

{% block content %}
    {% for entry in entries %}
        {% include "@SymfonyseBlog/Blog/extract.html.twig" %}
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination pull-right">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="clearfix"></div>
{% endblock %}
