{% extends "SymfonyseEventBundle::box.html.twig" %}


{% block content %}
    <h4><i class="fa fa-calendar text-red"></i> Nästa event</h4>
    <h5><a href="{{ path('event', {'permalink':event.permalink}) }}">{{event.title}}</a></h5>
    <small>{{ _misc.date(event.time, 'medium', true)}}</small>

    {{ event.content|excerpt|markdown|raw }}

{% endblock %}
