{% extends "SymfonyseEventBundle::box.html.twig" %}

{% block content %}

    <h4><i class="fa fa-calendar text-red"></i> Planerade events</h4>
        {% for event in events %}
            <div class="event">
                <p>
                    {{ event.title }}
                    <br />
                    <a href="{{ path('event', {'permalink':event.permalink}) }}">{{ _misc.time(event.meta('timestamp'), 'j M -y', true)}}</a>
                </p>
            </div>
        {% else %}
            <div class="event">
                <p>Det finns inga planerade event just nu.</p>
            </div>
        {% endfor %}

{% endblock %}
