{% extends "SymfonyseEventBundle::base.html.twig" %}

{% block title %}
Event — {{parent()}}
{% endblock %}

{% block content %}

    <ul>
        {% for event in events %}
            <li>
               { event.title }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
