.hidden {
    display: none;
}


.clear {
    clear: both;
    line-height: 0;
    height: 0;
}


/*
 * Alignment
 */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}