{% extends "SymfonyseTagBundle::base.html.twig" %}

{% block title %}
{{tag.title}} — {{parent()}}
{% endblock %}

{% block content %}
  <h1>{{tag.title}}</h1>

    {{ tag.content|markdown }}

        {% for entry in entries %}
            {% for entry in entries %}
                {% if entry.type == 'blog' %}
                    {% include "@SymfonyseBlog/Blog/extract.html.twig" %}
                {% elseif entry.type == 'video' %}
                    {% include "@SymfonyseVideo/Video/extract.html.twig" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
{% endblock %}
