{% extends "SymfonyseTagBundle::base.html.twig" %}

{% block title %}
{{tag.title}} — {{parent()}}
{% endblock %}

{% block content %}
  <h1>{{tag.title}}</h1>

    {{ tag.content|markdown }}

{% endblock %}
